body {
  max-width: 100%;
  margin: 0; }

header {
  height: 50rem;
  background-image: url(../imagenes/background-image.jpg);
  background-size: cover;
  background-position: center center;
  overflow: hidden; }

.menuPrincipal {
  /* este es el menu principal */
  color: #fff;
  position: relative; }

nav {
  display: flex;
  align-items: center;
  padding: 2rem 8%; }
  nav .logo {
    width: 5rem;
    cursor: pointer; }
  nav .menu {
    width: 2rem;
    margin-right: 2rem;
    cursor: pointer; }
  nav ul {
    flex: 1;
    text-align: right; }
    nav ul li {
      display: inline-block;
      list-style: none;
      margin: 0 2rem; }
      nav ul li:hover {
        transform: scale(1.1, 1.1);
        transition: 0.3s; }
      nav ul li a {
        text-decoration: none;
        color: #fff;
        position: relative; }
        nav ul li a:hover::after {
          width: 100%; }
        nav ul li a::after {
          content: "";
          width: 0;
          height: 3px;
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          background: #fff;
          transition: width 0.3s; }

.boton-1 {
  background: #efefef;
  height: 3rem;
  width: 6rem;
  border-radius: 2rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 0.5s; }

button span {
  display: block;
  background: #999;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
  margin-left: 2px;
  transition: background 0.5s, margin-left 0.5s; }

.contenedorLampara {
  position: absolute;
  top: 27.4rem;
  left: 0px;
  margin-left: -33%;
  width: 100%;
  transform: rotate(-16deg); }

.luz {
  position: absolute;
  top: 95%;
  left: 60%;
  transform: translateX(-50%);
  width: 38rem;
  margin-left: 1rem;
  opacity: 0;
  transition: opacity 0.5s; }

.contenedorTexto {
  height: 30rem;
  max-width: 60rem;
  margin-top: 7%;
  margin-left: 50%; }
  .contenedorTexto a {
    text-decoration: none;
    background: #00986f;
    padding: 1rem 4rem;
    display: inline-block;
    color: #fff;
    font-size: 2rem;
    margin-top: 2rem;
    border-radius: 3rem; }
  .contenedorTexto h1 {
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../imagenes/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite; }

@keyframes back {
  100% {
    background-position: 2000px 0; } }

/* javascript */
.active {
  background: #00986f; }
  .active span {
    background: #fff;
    margin-left: 3rem; }

.on {
  opacity: 1; }

/* aca termina js */
.contenedor-sillas-gamer {
  height: 50rem;
  background: #1d2026; }

.titulo-1 {
  margin-left: 2rem;
  font-size: 3rem;
  color: #fff; }

.parrafo-sillas-gamer {
  margin-left: 2rem;
  position: relative;
  display: inline-block;
  margin-top: 3rem;
  color: #fff; }

.img-silla-gamer {
  position: absolute;
  margin-left: 5rem;
  transition: all 0.5s; }
  .img-silla-gamer:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s; }

.boton-siguiente-producto {
  display: block;
  height: 2rem;
  width: 10rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-left: 2rem;
  margin-top: 2rem;
  background: #00986f; }
  .boton-siguiente-producto a {
    text-decoration: none;
    background: transparent;
    color: #1d2026; }

.contenedor-sillas-de-escritorio {
  background: #00986f;
  height: 50rem; }

.titulo-2 {
  margin-left: 2rem;
  font-size: 3rem;
  color: #1d2026;
  background: #00986f; }

.img-silla-de-escritorio {
  position: absolute;
  height: 35rem;
  margin-top: 2rem;
  transition: all 0.5s; }
  .img-silla-de-escritorio:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s; }

.parrafo-sillas-de-escritorio {
  margin-left: 36rem;
  background: #00986f;
  display: inline-block;
  margin-top: 6rem;
  color: #1d2026; }
  .parrafo-sillas-de-escritorio a {
    background: #00986f; }

.boton-siguiente-producto-1 {
  position: absolute;
  margin-top: 12rem;
  margin-left: -52.3%;
  height: 2rem;
  width: 10rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #00986f;
  background: #1d2026; }
  .boton-siguiente-producto-1 a {
    text-decoration: none;
    color: #00986f; }

.contenedor-escritorios {
  height: 50rem;
  background: #1d2026; }

.titulo-3 {
  margin-left: 2rem;
  font-size: 3rem;
  color: #fff; }

.parrafo-escritorios {
  margin-left: 2rem;
  position: absolute;
  display: inline-block;
  margin-top: 3rem;
  color: #fff; }

.boton-siguiente-producto-2 {
  position: absolute;
  margin-top: 10rem;
  left: 2rem;
  height: 2rem;
  width: 10rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: #00986f; }
  .boton-siguiente-producto-2 a {
    text-decoration: none;
    color: #1d2026; }

.img-escritorio {
  position: relative;
  left: 56%;
  bottom: 25%;
  margin-left: 5rem;
  transition: all 0.5s; }
  .img-escritorio:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s; }

.footer {
  background: #0a0a0a;
  height: 15rem;
  display: flex;
  align-items: center; }
  .footer ul {
    list-style: none; }

.email {
  height: 3rem;
  width: 3rem; }

.wsp {
  height: 3rem;
  width: 3rem; }

.instagram {
  height: 3rem;
  width: 3rem; }

.mastercard {
  height: 3rem;
  width: 3rem; }

.visa {
  height: 3rem;
  width: 3rem; }

.bitcoin {
  height: 3rem;
  width: 3rem; }

h3 {
  color: #fff;
  font-size: 1rem; }

.contenedor-metodos-de-pago ul li {
  color: #fff; }

/* aca empieza el grid */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "section-footer-1 section-footer-2 copyrigth"; }

.section-footer-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "contenedor-contacto contenedor-logos";
  grid-area: section-footer-1; }

.contenedor-contacto {
  grid-area: contenedor-contacto; }

.contenedor-logos {
  grid-area: contenedor-logos; }

.section-footer-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "contenedor-metodos-de-pago contenedor-logos-2";
  grid-area: section-footer-2; }

.contenedor-metodos-de-pago {
  grid-area: contenedor-metodos-de-pago; }

.contenedor-logos-2 {
  grid-area: contenedor-logos-2; }

.copyrigth {
  grid-area: copyrigth; }

/* aca termina el grid */
.contenedor-contacto ul li {
  padding: 1rem;
  color: #fff; }

.copyrigth {
  height: 12rem; }
  .copyrigth p {
    margin-left: 15rem;
    color: #fff; }

.contenedor-catalogo {
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.div-catalogo-1 {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  background: url(../imagenes/silla-de-escritorio-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: blur(2px);
  transition: all 0.5s; }
  .div-catalogo-1:hover {
    filter: none; }

.contenedor-texto-catalogo {
  height: auto;
  width: 20rem;
  position: absolute;
  z-index: 5;
  left: 5%;
  display: flex;
  align-items: center; }
  .contenedor-texto-catalogo a {
    text-decoration: none;
    color: #fff; }
  .contenedor-texto-catalogo p {
    font-size: 2rem;
    padding: 12px;
    border: 2px solid #fff;
    border-radius: 15% 15%; }

.div-catalogo-2 {
  position: relative;
  height: 100%;
  width: 100%;
  background: url(../imagenes/silla-gamer-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: blur(2px);
  transition: all 0.5s; }
  .div-catalogo-2:hover {
    filter: none; }

.contenedor-texto-catalogo-2 {
  height: auto;
  width: 20rem;
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center; }
  .contenedor-texto-catalogo-2 a {
    text-decoration: none;
    color: #fff; }
  .contenedor-texto-catalogo-2 p {
    font-size: 2rem;
    padding: 12px;
    border: 2px solid #fff; }

.div-catalogo-3 {
  position: relative;
  height: 100%;
  width: 100%;
  background: url(../imagenes/escritorio-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: blur(2px);
  right: 0;
  transition: all 0.5s; }
  .div-catalogo-3:hover {
    filter: none; }

.contenedor-texto-catalogo-3 {
  position: absolute;
  z-index: 5;
  right: 5%;
  height: auto;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; }
  .contenedor-texto-catalogo-3 a {
    text-decoration: none;
    color: #fff; }
  .contenedor-texto-catalogo-3 p {
    font-size: 2rem;
    padding: 12px;
    border: 2px solid #fff;
    border-radius: 15% 15%; }

.img-1 {
  height: 25rem;
  width: 450px;
  border-right: 2px solid #00986f;
  border-bottom: 2px solid #00986f;
  border-left: 2px solid #00986f;
  filter: none; }

.img-2 {
  height: 25rem;
  width: 450px;
  border-right: 2px solid #00986f;
  border-bottom: 2px solid #00986f; }

.img-3 {
  height: 25rem;
  width: 450px;
  border-right: 2px solid #00986f;
  border-bottom: 2px solid #00986f; }

.contenedor-section-descuentos {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.img-silla-de-escritorio-1 {
  height: 30rem; }

.soporte-articulo-1 {
  height: 21rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.contenedor-section-nosotros {
  height: 100rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.contenedor-mapa {
  height: 100%;
  width: 100%;
  background: #00986f; }

.contenedor-texto-nosotros {
  height: 100%;
  width: 100%;
  background: #1d2026; }

@media screen and (max-width: 768px) {
  .contenedor-catalogo {
    flex-direction: column; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

@media screen and (max-width: 1024px) {
  body {
    height: auto;
    max-width: 1024px;
    margin: 0; }
  * {
    font-size: 50%; }
  nav ul li {
    font-size: 15px; }
  .contenedorTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20%;
    height: 19rem;
    width: 100%; }
    .contenedorTexto h1 {
      font-size: 3rem; }
    .contenedorTexto p {
      font-size: 12px; }
    .contenedorTexto a {
      font-size: 1rem; }
  .contenedor-sillas-gamer {
    margin: 0px; }
  .img-silla-gamer {
    position: relative;
    margin-left: 0px;
    height: 20rem; }
  .img-silla-de-escritorio {
    height: 20rem;
    position: relative; }
  .parrafo-sillas-gamer {
    font-size: 12px; }
  .parrafo-escritorios {
    font-size: 12px; }
  .parrafo-sillas-de-escritorio {
    margin-left: 0px;
    font-size: 12px; }
  .img-escritorio {
    position: static;
    margin-top: 10rem;
    height: 20rem; }
  .boton-siguiente-producto {
    font-size: 12px;
    margin-top: -60px; }
  .boton-siguiente-producto-1 {
    position: absolute;
    margin-top: 120px;
    font-size: 12px; }
  .boton-siguiente-producto-2 {
    font-size: 12px; }
  .copyrigth p {
    font-size: 12px; }
  .footer {
    background: #0a0a0a;
    height: 15rem;
    display: flex;
    align-items: center; }
    .footer ul {
      list-style: none; }
      .footer ul li {
        font-size: 6px; } }

@media screen and (max-width: 768px) {
  body {
    height: auto;
    max-width: 768px;
    margin: 0; }
  * {
    font-size: 50%; }
  nav ul li {
    font-size: 15px; }
  .contenedorTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20%;
    height: 19rem;
    width: 100%; }
    .contenedorTexto h1 {
      font-size: 3rem; }
    .contenedorTexto p {
      font-size: 12px; }
    .contenedorTexto a {
      font-size: 1rem; }
  .contenedor-sillas-gamer {
    margin: 0px; }
  .img-silla-gamer {
    position: relative;
    margin-left: 100px;
    height: 20rem; }
  .img-silla-de-escritorio {
    height: 20rem;
    position: relative; }
  .parrafo-sillas-gamer {
    font-size: 12px; }
  .parrafo-escritorios {
    font-size: 12px; }
  .parrafo-sillas-de-escritorio {
    font-size: 12px;
    margin-left: 2rem; }
  .img-escritorio {
    position: static;
    margin-top: 10rem;
    height: 20rem; }
  .boton-siguiente-producto {
    font-size: 12px; }
  .boton-siguiente-producto-1 {
    position: relative;
    font-size: 12px; }
  .boton-siguiente-producto-2 {
    font-size: 12px; }
  .copyrigth p {
    font-size: 12px; }
  .footer {
    background: #0a0a0a;
    height: 15rem;
    display: flex;
    align-items: center; }
    .footer ul {
      list-style: none; }
      .footer ul li {
        font-size: 6px; }
  /* aca empieza el media de catalogo */
  .contenedor-texto-catalogo {
    position: absolute;
    z-index: 5;
    top: 500px;
    left: 40%; }
  .contenedor-texto-catalogo-3 {
    position: absolute;
    z-index: 5;
    top: 1050px;
    left: 40%; }
  .contenedor-catalogo {
    height: 100rem; } }

@media screen and (max-width: 425px) {
  body {
    height: auto;
    max-width: 425px;
    margin: 0; }
  * {
    font-size: 50%; }
  nav ul li {
    font-size: 15px; }
  .luz {
    width: 30rem;
    left: 52%; }
  .contenedorTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5%;
    height: 15rem;
    width: 95%; }
    .contenedorTexto h1 {
      font-size: 3rem; }
    .contenedorTexto p {
      font-size: 12px; }
    .contenedorTexto a {
      font-size: 1rem; }
  .contenedor-sillas-gamer {
    margin: 0px; }
  .img-silla-gamer {
    position: relative;
    margin-left: 100px;
    height: 20rem; }
  .img-silla-de-escritorio {
    height: 20rem;
    position: relative; }
  .parrafo-sillas-gamer {
    font-size: 12px; }
  .parrafo-escritorios {
    font-size: 12px; }
  .parrafo-sillas-de-escritorio {
    font-size: 12px;
    margin-left: 2rem; }
  .img-escritorio {
    position: static;
    margin-top: 10rem;
    height: 20rem; }
  .boton-siguiente-producto {
    font-size: 12px; }
  .boton-siguiente-producto-1 {
    position: absolute;
    left: 110%;
    font-size: 12px; }
  .boton-siguiente-producto-2 {
    font-size: 12px;
    position: relative; }
  .copyrigth p {
    font-size: 12px; }
  .footer {
    background: #0a0a0a;
    height: 15rem;
    display: flex;
    align-items: center; }
    .footer ul {
      list-style: none; }
      .footer ul li {
        font-size: 6px; } }

/* aca empieza los bucles, each, etc */
.blue {
  background-color: blue;
  color: blue; }

.indigo {
  background-color: indigo;
  color: indigo; }

.purple {
  background-color: purple;
  color: purple; }

.yellow {
  background-color: yellow;
  color: yellow; }

.pink {
  background-color: pink;
  color: pink; }

.white {
  background-color: white;
  color: white; }

div h2 {
  color: white;
  font-size: 40px; }

.bucle2 {
  height: 5em;
  width: 4em; }

.bucle3 {
  height: 3.33333em;
  width: 6em; }

.bucle4 {
  height: 2.5em;
  width: 8em; }

.bucle5 {
  height: 2em;
  width: 10em; }

.mapa {
  color: blue, red, yellow, purple; }
