.soporte-articulo-1{
    height: 21rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-section-nosotros{
    height: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-mapa{
    height: 100%;
    width: 100%;
    background: #00986f;
}
.contenedor-texto-nosotros{
    height: 100%;
    width: 100%;
    background: #1d2026;
}